/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
}

.button-white{
    background-color: white;
    border-radius: 45px;
    height: 30px;
    width: 40%;
    border: 1px solid #3161e0;
}

.bg-img-item-1{
    background-image: url(../img/item1.svg);
    background-size: cover;
}

.bg-img-item-2{
    background-image: url(../img/item2.svg);
    background-size: cover;
}

.bg-img-item-3{
    background-image: url(../img/item3.svg);
    background-size: cover;
}

.bg-img-container{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-img-item-4{
    background-image: url(../img/item4-big.svg);
    background-size: cover;
    height: 600px;
}

.bg-img-stars-h3{
    margin: 0 auto;
    background-image: url(../img/stars.svg);
    background-size: cover;
    width: 30%;
    height: 30px;
}

.bg-white{
    background-color: white;
}

.bg-grey{
    background-color: #f6f6f6;
}

.btn-jumbo-white{
    height: 45px;
    width: 30%;
    background-color: white;
    border: 1px solid white;
    border-radius: 45px;
    font-weight: 600;
    margin-right: 20px;
}

.btn-jumbo-black{
    height: 45px;
    width: 45%;
    background-color: black;
    border: 1px solid black;
    border-radius: 45px;
    font-weight: 600;
    color: white;
}

.btn-opaque{
    margin-top: 30px;
    height: 45px;
    width: 20%;
    background-color: white;
    border: 1px solid white;
    border-radius: 45px;
    font-weight: 600;
    background-color: rgb(142, 161, 225);
    color: white;
}



.font-small{
    font-weight: 300;
    font-size: 18px;
}

.flex-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-j-between{
    display: flex;
    justify-content: space-between;
}

.container{
    max-width: 1050px;
    /* width: 65 */
    margin: 0 auto;
}

.container-btn-header{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.jumbo-container{
    max-width: 600px;
    /* width: 50% */
    margin: 0 auto;
    
}

.par-width{
    text-align: center;
    margin-top: 20px;
    width: 70%;
}

/* .dotted-test{
    border: 2px dashed black;
} */

.columns{
    padding: 3rem 0;
}

.column{
    height: 400px;
    }

.column-big{
    width: 60%;
}

.column-small{
    width: 40%;
    padding-top: 40px;
}

.column-single{
    text-align: center;
    width: 100%;
    padding: 2rem;
}

.column-70{
    background-color: #20b1a9 ;
    width: 70%;
    height: 500px;
}

.column-30{
    background-color: #ef7f7f;
    height: 500px;
    width: 30%;
}

.column-quarters{
    border: 2px dashed white;
    width: calc(100% / 4);
}

.h1-font{
    font-size: 55px;
    font-weight: 800;
}

.h2-font{
    font-size: 48px;
    font-weight: 800;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 0 0 .25rem;
}

section.navigation{
    padding: .8rem 0;
    background-color: #3161e0;
}


header section.navigation > div{
    /* height: 40px; */
    background-color: #3161e0;
}

header section.navigation div.brand,
header section.navigation nav,
header section.navigation div.login{
    padding: .5rem;
}

.logo{
    height: 2rem;
    width: 50%;
    
}

.subtitle{
    margin-top: 40px;

}


section.navigation div.brand,
section.navigation div.login{
    width: 20%;
}

section.navigation  nav{
    width: 60%;
}

section.navigation  nav ul{
    list-style-type: none;
    margin: 10px;
}

.t-align{
    text-align: center;
}

.t-align-left{
    text-align: left;
}

.t-align-right{
    text-align: right;
}

.mar-right-nav{
    margin-right: 20px;
}

.margin-right-column{
    margin-right: 4rem;
}

.margin-left{
    margin-left: 10rem;
}

section.navigation  nav ul li{
    /* display: inline-block; */
    padding: 0 .25rem;
}


section.navigation div.login{
    text-align: right;
}


section#jumbo{
    /* height: 300px; */
    
    padding: 3rem 0;
}

.text-white{
    color: white;
}

div.jumbotron{
    height: 300px;
    color: white;
}

footer{
    background-color: #23272a;
}

div.footer-divider{
    background-color: white;
    height: 1px;
    width: 100%;
    margin: 2rem 0;
}

section.links{
    padding-top: .5rem;
}

div.button{
    background-color: #feb5c0;
    height: 2rem;
    padding: .25rem .5rem;
}